.buttonWithIcon {
    border-radius: 10px;
    border-color: transparent;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: var(--art-button);
    transition: all .5s ease;
}
.buttonWithIcon:hover{
    background-color: var(--art-buttonHover);
}

button {
    margin-right: 5px;
    margin-bottom: 5px;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-optical-sizing: auto;
    font-size: 17px;
    padding: center;
    padding: 10px;
    border-color: transparent;
    border-radius: 10px;
    cursor: pointer;
    background-color: var(--art-button);
    transition: all .5s ease;
}
button:hover {
    background-color: var(--art-buttonHover);
}

i {
    font-size: 25px;
}