footer {
    background-color: var(--dev-footer-background);
    padding: 40px 0 0 ;
    
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    left: 50%;
    text-transform: capitalize;
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
}

.footer-links {
    width: 30%;
    padding: 0 15px;
}

.footer-links p {
    color: var(--dev-text-color);
    font-size: 20px;
}

.footer-links h4 {
    font-size: 20px;
    color: var(--dev-text-color);
    margin-bottom: 25px;
    border-bottom: 2px solid saddlebrown;
    padding-bottom: 5px;
    display: inline-block;
}

.footer-links ul li {
    font-size: 20px;
    text-decoration: none;
    color: var(--dev-text-color);
    display: block;
    margin-bottom: 15px;
    transition: all 0.3s ease;
}

.footer-links ul li a:hover {
    color: var(--dev-button-hover);
    padding-left: 6px;
}

.social-links a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-height: 40px;
    width: 40px;
    background-color: var(--dev-button);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: var(--dev-text-color);
    transition: all 0.5s ease;
    text-decoration: none;
}

.social-links a:hover {
    background-color: var(--dev-button-hover);
}

footer .copyright{
    background-color: bisque;
}