header {
    display: flex;
    background-color: burlywood;
    justify-content: space-between;
    padding: 10px;
}

header #buttons{
    display: flex;
    gap: 10px
}


button{
    display: flex;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-optical-sizing: auto;
    font-size: 17px;
    padding: 10px 60px;
    border-color: transparent;
    border-radius: 10px;
    cursor: pointer;
    background-color: var(--art-button);
    transition: all .5s ease;
}

button:hover {
    background-color: var(--art-buttonHover);
}