@import 'header.css';
@import 'footer.css';

:root {
    /* for the art area */
    --default-background-color: #FDFCDC;
    --art-background-image: -webkit-image-set('../background2.jpg');
    --art-window: #807f61b9;
    --art-button: #5a5944;
    --art-buttonHover: #474636;
    --art-text-color: #333327;

    /* for the dev area */
    --dev-background-image: './background2.jpg';
    --dev-background: #DCDCD0;
    --dev-footer-background: #ABA79B;
    --dev-button: #7A7265;
    --dev-button-hover: #8E6E53;
    --dev-text-color: #433E3F;
}

* {
    box-sizing: border-box;
    margin: 0;
}

body{
    font-family: 'Shantell Sans', cursive;
    font-size: 20px;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings:
        'BNCE' 0,
        'INFM' 0,
        'SPAC' 0;
}

main h1{
    display: flex;
    justify-content: center;
}

body .landing {
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}
