

* {
    background-image: blue;
    font-family: 'Playwrite DE Grund', cursive;
    font-weight: 400;
    font-optical-sizing: auto;
    font-size: 17px;
    text-align: center;
}

li {
    text-align: left;
    font-size: 20px;
}

section {
    margin-top: 20px;
    padding: 10px;
    background-color: var(--window);
    backdrop-filter: blur(1px);
    border-radius: 10px;
}

#title {
    font-weight: bold;
    text-align: center;
    font-size: 50px;
}

.topic {
    font-weight: bold;
    text-align: center;
    font-size: 30px;
}

.samples {
    padding: 10px;
}

.ace_text_animated {
    background: linear-gradient(to right, #000000, #f7f7f7, #6b006c, #cbcbcb, #000000) 0 0/200% 100%;
    background-clip: text;
    color: transparent;
    animation: rainbow_anim 4s linear infinite;
}

.pan_text_animated {
    background: linear-gradient(to right, #ff2890, #ffd908, #28b3ff, #ff2890) 0 0/200% 100%;
    background-clip: text;
    color: transparent;
    animation: rainbow_anim 2s linear infinite;
}

@keyframes rainbow_anim {
    to {
        background-position: -200% 0;
    }
}

#content {
    border-width: 3px;
    background-color: var(--window);
    backdrop-filter: blur(1px);
    border-radius: 10px;
    width: 25%;
    padding: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#buttons {
    padding-left: 15px;
    text-align: center;
}

.buttonIcon {
    position: relative;
    top: 2.5px;
}

#homebtn {
    text-align: center;
}

#panel {
    float: left;
    padding: 50px;
    border-width: 3px;
    background-color: var(--window);
    backdrop-filter: blur(1px);
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#leftpanel {
    float: left;
    width: 50%;
}

#rightpanel {
    float: left;
    width: 50%;
    margin-top: 15%;
}

#header {
    font-size: 40px;
    margin: auto;
}

p {
    word-wrap: break-word;
    font-size: 20px;
}

img {
    border-radius: 20px;
}

#buttonWithIcon {
    background-color: var(--button);
}

#buttonWithIcon:hover {
    background-color: var(--buttonHover);
}

button {
    background-color: var(--button);
}
button:hover {
    background-color: var(--buttonHover);
}

#container {
    background-color: var(--window);
}

#likes {
    float: left;
    width: 50%;
}

#dislikes {
    float: left;
    width: 50%;
}

#likes {
    list-style-image: url('../components/icons/heart-solid-24.png');
}

#dislikes {
    list-style-image: url('../components/icons/message-rounded-x-solid-24.png');
}


/* contact view */
section{
    width: 25%;
    border-radius: 10px;
    padding: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
p {
    font-size: 25px;
}


/* preferences view */
#container {
    float: left;
    padding: 50px;
    border-width: 3px;
    backdrop-filter: blur(1px);
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

p {
    font-size: 30px;
}