@import './css/assets.css';

@import './css/pages/landing.css';

@import './css/components/header.css';
@import './css/components/footer.css';

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-size: 16px;
}

main h1 {
    display: flex;
    justify-content: center;
}

body .landing {
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}
