body {
    background-image: -webkit-image-set("./tumblr_static_13k8h58u5w5c000gw04scggs0.jpg");

    font-family: "Playwrite DE Grund", cursive;;
    font-weight: 400;
    font-optical-sizing: auto;
    font-size: 17px;
    text-align: center;
}